
.header{
    background-image : linear-gradient(to bottom right, #A116EF , #390999);
   border-radius: 0 0 0.9375rem 0.9375rem ;
   /* min-height: 130px; */
   min-height: 8.125rem;
   width: 100vw;
}
.nav-link:hover{
    border-bottom: 0.125rem solid rgb(226, 226, 35) !important;
    padding-bottom: -1px;
    padding-bottom: 0.0625rem;
}
#navbarSupportedContent a{
    color:whitesmoke ;
    margin-left: 2rem;
}
.navbar-logo{
    /* width: 300px !important ;
    height:100px  !important; */
    width: 18.75rem !important;
    height: 6.25rem !important;
}
.navbar-brand{
    margin-left: 1.8rem;
    border-bottom: none;
}
.home{
    padding:3rem;
    text-align: center;
    
}
.link-div{
    padding :auto ;
    text-align: center;
}
@media only screen and (max-width : 770px)
{ 
.navbar-link{
    margin-bottom: 1rem ;
}
}

@media only screen and (max-width: 450px)
{ 
    .navbar-logo{

        width: 15.625rem !important ;
        height:5rem !important;
    }
    .navbar-brand{
        margin: auto;
    }
    .header{
        border-radius: 0 0 0.625rem,0.625rem;
    }
}

#home-nav {
    border-bottom: 0.125rem solid rgb(226, 226, 35);
}
#login-nav{
    border-bottom: 0.125rem solid rgb(226, 226, 35);
}
#none{
    border-bottom: 0 ;
}


/* HEADER ENDSSSSSS////////////////////////////////////////////// */











/* LOGIN INPUTTTTTTT///////////////////////////////////////////////////// */
.home{
    margin: auto;
   
}
.login{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5%;
    text-align: center;
    background-color: rgb(235, 204, 234);
    max-width: 31.25rem;   /*  500px ;*/
    min-width:  18.75rem;   /*  300px;*/
     height:  35rem;                /*  400px;*/
     margin: auto;
     border-radius: 1.5625rem;         /*  25px ;*/
     margin-bottom: 10%;
}
.login-heading{
    margin-bottom: 0.625rem;   /* 10px;   */
}

/* @media only  screen and (max-width : 390px){
     .home{
         padding: 3rem 0;   
     }
     .login{
          width:90vw !important;
         
     }
} */
@media only screen and (max-width : 480px) and (min-width:376px){
    .span-login{
        display: block;
    }
    .home{
        padding: 3rem 0;   
    }
    .login{
         width:95vw !important;
    }
}

.login-input {
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 1.5625rem;  /* 25px;*/
    border:none;
    box-shadow: 0.125rem  0.125rem 0.9375rem grey;     /*     2px 2px 15px grey;*/
    width: 50%;
    min-width: 197.63px;
    height: 30%;
    border:none;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#login-button{
    /* margin: 6% 2% 4%; */
    background-color: darkviolet;
    border-radius: 0.6875rem;  /*11px;*/
    width: 8.25rem ;/*132px;*/
    padding-bottom:0.625rem;/* 10px;*/
}
.why-choose-us{
     padding: 5%;
     text-align: center;
     max-width: 43.75rem ;/* 700px*/ ;
     min-width: 18.75rem ;/*300px;*/
     min-height: 31.25rem ;/*500px;*/
      margin: auto;
}

.logo{
   margin-top: 10%;
}
.logo-fdiv{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logo-div{
    position: relative;
   
   padding:auto;
}
.logo-ldiv{
    margin: auto 0 auto 30%;
}
.outer-circle{
    position: absolute;
   top: 0;
   left: 0;
   color: hotpink;
   border-radius: 100%;
}
.inner-logo{
    color:royalblue;
    position: absolute;
    top:0.9375rem ;  /*15px; */
     left:1.1875rem; /* 19px;*/
   
    border-radius: 100%;
}
.logo i{ 
    border-radius: 100%;
    border: 0.125rem solid hotpink;
    float: left;

}
.why-choose-us-heading{
    margin-bottom: 15% ;
    color: hotpink;
}
.outer-firebase{
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
}
.logo-title{
    color: royalblue;
}
 
.otp-input-border{
    border: 1px solid blue;
}
/* FIREBASE */ 
.firebase-input{
    padding:auto 0;
    border-radius: 0.6875rem !important;
    
}
@media  (max-width:400px) { 
    .firebase-input{
        padding: 0 -2rem !important;}
  
.firebaseui-card-header{
    padding:16px 0 0;
}

}
@media screen and (max-width: 360px) {
    .outer-firebase {
      overflow-x: hidden;
    }

    .firebaseui-recaptcha-container > div > div {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
    }
  }


  @media only screen and (max-width: 375px) {
      .login{
          width: 100vw;
      }
      .home{
        padding: 2rem 0;   
    }
    .span-login{
        display: block;
    }
  }
  .firebase-container{
      border-radius: 25px !important;
  }












 /* HOME PAGE //////////////////////////////////////////////////////////////////////////*/

.home-phone-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    text-align: center;
    background-color: rgb(235, 204, 234);
     width:60%;
     max-width:480px;
     height:  20rem;              
     margin: auto ;
     border-radius: 1.5625rem;         
     margin-bottom: 3%;
     margin-top: 3%;
}
.inner_div{
    
    padding-top: 1rem;
}

.home-phone{
    margin-top: 4% !important;
}
 .home-register-input{
    margin: 4% 2% 2% 2%;
    border-radius:25px !important;  
    border:none;
    box-shadow: 0.125rem  0.125rem 0.9375rem grey;
    width: 50%;
    min-width: 165px;
    height: 40px ; 
    text-align: center;
}

.home_page i{
  border-radius: 100%;
  margin: 4% 0% 0% 0;
}
.home-map-button{
    background-color:indigo !important;
    border-radius: 0 3.2rem 0 0 !important;
    position: absolute;
   transform: rotate(90deg) ;
   /* left:-54.25px; */
   transform-origin: bottom left ;
    /* top:79.2%; */
    left:0;
    top:54vh;
   z-index: 1;
}
@media only screen and (min-width: 798px){
  
}
.hospital-list-div{
    background-color: indigo;
    
    opacity: 0.75;
    z-index: 1;
    position: absolute;
    top:72.2%;
    left:36.5px;
    width: 89%;
    height:24vh;
    color: white;
    text-align: center;
}
@media only screen and (min-width: 450px){
   .hospital-list-div{
    width: 92% !important;   
  }
}
/* TABLE///////////////////////// */

.home-table{
  width: 200px !important;
  height:50vh;
  text-align: center;
  background-color: rgb(235, 204, 234) !important;
  z-index: 2;
}
@media screen and (max-width:400px){
  .home-table{
    height:60vh;
  }
}
/* .table{
  text-align: center;
  padding:auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin:auto;
} */
.pagenumber{
  margin:auto;
  display: flex;
  justify-content: center;
}
/* .hospital-list{
  display: flex;
  flex-direction: column;
  align-content: center;
} */

#sidebar{
  position: fixed;
  width:200px;
  height:100%;
  background-color: hotpink;
  
  transition: all 500ms linear;
}
.showit{
  left:0;
}
.hideit{
  left:-200px;
}
#toggle-btn{
  position: absolute;
  left:230px;
  top:20px;
}







/* .login-input:focus{
    border:none;
   } */

  /* .login-input:focus{
    border:none !important;
   } */






/* FOOTERRRRRR */
footer{
    background-image: linear-gradient(to bottom right,#A116EF,#390999);
       text-align: center;
      position: relative;
      margin-top:6.25rem;
      font-size: 1rem;
      max-height: 37.5rem !important;
  }
  @media screen and (min-width:769px){
  .footer-logo{
      padding-left:0 !important;
  }
}
  .mx-2{
    transition: transform 250ms !important;
  }
  .mx-2:hover{
    color: grey !important;
    transform: translateY(-0.125rem) !important;
  }
  .overlay{
	width: 100%;
  margin-bottom:auto;
   margin-top: -1.25rem;
   margin-bottom: -1.25rem;
	color: #FFF;
  font-size:1.25rem;
}






















/* 

  ////MAPPPPPP/////////////////////////////
   
   .map{
       margin: 1.65%  ;
       
   }
   .map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1.25rem;
    padding-left: 0.625rem;
    text-align: center;
  }
  
  .google-map {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 11.25rem;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media only screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 10vw;
    }
  } */

 /* .map-input{
    
     margin-left: 15px;
 }
 .map-outer{
     position: relative;
     margin: 30px 0 0 0 ;
    
 }
  .mygooglemap {
      z-index: -1;
      margin: 0;
     
  }
  .map-search-icon{
      position: absolute;
      margin-left: 270px;
      margin-top: 5px;
      z-index: 3;
  } */
  .main-wrapper {
    height: 75vh;
    width:100%;
    margin: 20px 0;
    padding:4% 6%;
    margin-right: 3%;
    filter: drop-shadow(1px 5px 3px rgba(131, 46, 46, 0.24));
    position: relative;
    margin-top: -80px;
    margin-bottom: 5%;
  }
  
  @media (max-width:560px)
  {  .main-wrapper{
      /* width:350px; */
      width:100%;
      margin:20px auto;
      display: flex;
      justify-content: center;
      margin-top: -60px;
  }
  .search-input{
      font-size: 1.0em;
    
    padding:1% 9%;
    border-radius: 20px;
    margin:2px -50px;
    
  
  }
  }
  .info-wrapper {
    margin-top: 15px;
  }
  .map-details {
    text-align: center;
    font-size: 1.2em;
  }
  .map-details span {
    font-weight: bold;
  }
  .search-input {
    font-size: 1.0em;
    width: 350px;
    padding:1% 1%;
    border-radius: 30px;
  }


